@import url(__item/cards__item.css);
@import url(__image/cards__image.css);
@import url(__title/cards__title.css);
@import url(__subtitle/cards__subtitle.css);

.cards {
    color: white;
    margin: 57px auto 104px;
    display: flex;
    justify-content: space-between
}

@media (min-width: 320px) and (max-width: 767px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}



.cards__type {
    /*background-image: linear-gradient(rgb(170, 255, 170), white);*/
    background-color: #0A132D;
    color: white;
    border: 2px solid rgb(215, 224, 245);
}

.cards__type:hover {
    background-image: linear-gradient(#0A132D, rgb(215, 224, 245));
    transition: transform 0.4s ease-out;
    color: black;
}

.typecards {
    color: white;
    margin: 126px auto 125px;
    display: flex;
    justify-content: space-between
}

@media (min-width: 320px) and (max-width: 767px) {
    .typecards {
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
    }
}