@import url(__item/cards__item.css);
@import url(__image/cards__image.css);
@import url(__title/cards__title.css);
@import url(__subtitle/cards__subtitle.css);

.cards {
    color: white;
    margin: 57px auto 0;
    display: flex;
    justify-content: space-between
}

@media (min-width: 320px) and (max-width: 767px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}