.guest-info {
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .guest-info {
        flex-direction: column;
    }
}