.header__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 0px auto;
}
.header__link {
    /*border-right: 2px solid white;*/
    margin: 0 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.header__link:visited {
    color: white;
}
.header__link:hover {
    opacity: 0.4;
    border-bottom: 1px solid white;
}
.header__link:last-child {
    cursor: default;
}