.header__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 0px auto;
}

.header__link {
    /*border-right: 2px solid white;*/
    margin: 0 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: border-bottom 0.3s opacity 0.4s;
}

.header__link:visited {
    color: white;
}
.header__link:hover {
    opacity: 0.4;
    border-bottom: 1px solid white;
}
.header__link:last-child {
    cursor: default;
}



.header__links_mobile {
    width: 100%;
    display: none;
    font-size: 20px;
}

.header__links_mobile-active {
    display: flex;
    flex-direction: column;
}

.header__link_mobile {
    margin: 0 0;
    text-decoration: none;
    cursor: pointer;
    transition: border-bottom 0.3s opacity 0.4s;
    padding-bottom: 10px;
}
.header__link_mobile:visited {
    color: white;
}
.header__link_mobile:hover {
    opacity: 0.4;
    border-bottom: 1px solid white;
}
.header__link_mobile:last-child {
    cursor: default;
}

.header__link_mobile:visited {
    color: white;
}
.header__link_mobile:hover {
    opacity: 0.4;
    border-bottom: 1px solid white;
}
.header__link_mobile:last-child {
    cursor: default;
}



.header__button_mobile {
    position: relative;
    width: 50px;
    height: 25px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: none;
}

.header__button_mobile:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    border-top: 5px solid #fff;
}
@media (max-width: 900px) {
    .header__links {
        display: none;
    }
    .header__button_mobile {
        display: block;
    }
}