.content__final {
    max-width: 1184px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D7E0F5;
}