.task {
    max-width: 1184px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D7E0F5;
}
.task__description {
    font-size: 40px;
}
.task__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task__text-wrapper {
    margin-top: 120px;
    border-radius: 10px;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
    background-color: white;
    width: auto;
    text-align: center;
    padding: 0 30px 0;
}
.task__text {
    font-size: 30px;
}
.task__answer {
    border: none;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
    background-color: white;
    text-align: center;
    font-size: 25px;
}
.task__accepted {
    margin-top: 40px;
    margin-bottom: 175px;
    border: 2px solid rgb(170, 255, 170);
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 25px;
    background-color:white;
    padding: 5px 30px;
    cursor: pointer;
}
.task__accepted:hover {
    background-color: rgb(170, 255, 170);
    cursor: pointer;
}


.task__choice {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.radio-image {
    width: 150px;
    height: 150px;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 3%;
}

.task__allpictures {
    display: flex;
    margin-top: 59px;
    margin-bottom: 59px;
}

.task__select {
    margin-top: 20px;
    margin-bottom: 104px;
}