@import url(./__content/task__content.css);
@import url(./__description/task__description.css);
@import url(./__form/task__form.css);
@import url(./__accepted/task__accepted.css);
@import url(./__answer/task__answer.css);
@import url(./__picture/task__picture.css);
@import url(./__pictures/task__pictures.css);
@import url(./__points/task__points.css);
@import url(./__select/task__select.css);
@import url(./__text/task__text.css);

.task {
    max-width: 100%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #D7E0F5;
}