@import url(_level/_easy/cards__item_level_easy.css);
@import url(_level/_med/cards__item_level_hard.css);
@import url(_level/_hard/cards__item_level_med.css);

.cards__item {
    width: 320px;
    height: 360px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    transition: transform .4s ease-out;
    text-decoration: none;
}

.cards__item:hover {
    transform: translate(0, -10px);
}

@media (min-width: 320px) and (max-width: 767px) {
    .cards__item {
        margin-bottom: 20px;
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cards__item {
        width: 240px;
        height: 280px;
    }
}




.cards__type {
    width: 240px;
    height: 270px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    transition: transform .4s ease-out;
    text-decoration: none;
}

.cards__type:hover {
    transform: translate(0, -10px);
}

@media (min-width: 320px) and (max-width: 767px) {
    .cards__type {
        margin-bottom: 20px;
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cards__type {
        width: 240px;
        height: 280px;
    }
}