.cards__subtitle {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: inherit ;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cards__subtitle {
        font-size: 14px;
    }
}