.cards__title {
    margin: 0 auto 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    color: inherit;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cards__title {
        font-size: 26px;
    }
}