.footer__link-logo {
    width: 320px;
    height: 40px;
    transition: 0.3s linear;
}

.footer__link-logo:hover {
    opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__link-logo {
        width: 310px;
    }
}