.cards__image {
    margin: 20px auto 50px;
    width: 150px;
    height: 200px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .cards__image {
        margin: 15px auto 15px;
        width: 130px;
        height: 180px;
    }
}


.cards__type__image {
    margin: 20px auto 50px;
    width: 112px;
    height: 150px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cards__type__image {
        margin: 15px auto 15px;
        width: 130px;
        height: 180px;
    }
}