@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/infoblock/infoblock.css);
@import url(../blocks/guest-info/guest-info.css);
@import url(../blocks/signup/signup.css);
* {
    border: 1px solid red;
}
.page {
    margin: 0 auto;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /* Сглаживание для браузеров */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* Оптимизация при масштабировании */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%; 
    /* Рендеринг */
    text-rendering: optimizeLegibility;
    background-color: #0A132D;
}