@import url(../signup/__form/signup__form.css);
@import url(../signup/__input/signup__input.css);
@import url(../signup/__submit/signup__submit.css);
@import url(../signup/__title/signup__title.css);

.signup {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #264796;
}
.error {
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 800px) {
    .signup {
        width: 100%;
        padding: 126px 0 127px;
    }
}