@import url(./__container/infoblock___container.css);
@import url(./__instructions/infoblock__instructions.css);
@import url(./__subtitle/infoblock__subtitle.css);
@import url(./__title/infoblock__title.css);

.infoblock {
    padding: 126px 0 127px;
    background-color: #ECEFF6;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #25618C;
}

@media (max-width: 800px) {
    .infoblock {
        width: 100%;
    }
}

